<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<div class="container" style="background-color:lavender;">
<h2>Task</h2>
<body>
	<%if flash[:notice]%>
	<div class="notice">
		<%=flash[:notice]%>
	</div>
	<% end %>
	<%=form_for @task_name do |f|%>
	<p>
		
    	<%= hidden_field_tag 'date', :value =>  @date%>
	</p>

	<p>
		<%=f.label :name_of_task%>
		<%=f.text_field :name_of_task %><br>
	</p>
	<p>
		<%=f.label :description%>
		<%=f.text_field :description%><br>
	</p>
	<p>
		<%=f.label :status%>
		<%=f.check_box :status%><br>
	</p>
    	<%=f.submit%>
<%end%>
<br>
         <button onclick='window.location="/dashboard";'>Back to Dashboard</button>
</body>
</div>